<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Mi login</title>

        <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
  		<link rel="stylesheet" href="css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>
	    <link rel="stylesheet" href="css/dashboard.css" th:href="@{/css/dashboard.css}"/>
	    <link rel="stylesheet" href="css/card.css" th:href="@{/css/card.css}"/>
	    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}"/>
    </head>
 <meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta charset="UTF-8"></meta>
<title>Hello dashboard</title>
<body>
	<div class="container-full">
    <div class="card-container">
      <div class="card-header">
        Password Man
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-3 division-right">
            <ul style="padding-top:1em;" class="nav nav-pills nav-stacked">
              <li role="presentation" id="add" ><a href="#">Add new password</a></li>
              <li role="presentation"><a href="#">Profile</a></li>
              <li role="presentation"><a href="#">Messages</a></li>
            </ul>
          </div>
          <div class="content col-md-3" id="password-content">

          </div>
          <div class="col-md-6">
          <div id="form-container">

          </div>
          </div>

            <div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-md" role="document">

                <div class="modal-content">
                  <div class="modal-header"><h4>Add a new password</h4></div>
                  <div class="modal-body">
                    <form class="form-horizontal" id="input-form">
                      <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="site">Web site</label>
                        <div class="col-sm-10">
                          <input class="input-edit" type="text" id="site" placeholder="Small input"/>
                        </div>
                      </div>
                      <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="url">URL</label>
                        <div class="col-sm-10">
                          <input class="input-edit" type="text" id="url" placeholder="Small input"/>
                        </div>
                      </div>
                      <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="password">Password</label>
                        <div class="col-sm-10">
                          <input class="input-edit" type="password" id="password" placeholder="Small input"/>
                        </div>
                      </div>
                      <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="repeat-password">Repeat password</label>
                        <div class="col-sm-10">
                          <input class="input-edit" type="password" id="repeat password" placeholder="Small input"/>
                        </div>
                      </div>

                      <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="expiration">Expiration</label>
                        <div class="col-sm-10">
                          <input class="input-edit" type="text" id="expiration" placeholder="Small input"/>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="modal-footer">
                    <button class="btn btn-default btn-submit" id="btn-add" data-dismiss="modal">Add</button>
                    <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>

  </div>
  
  <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/handlebars-v4.0.5.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/idGeneration.js}"></script>
  <script type="text/javascript">

  </script>
  <script type="text/javascript">
  function select(id)
  {
    //TODO llenar el formulario con los datos del password-pill
    /*var parent = document.getElementById('form-container');
    var currentForm = document.getElementById('form-template');

    parent.removeChild(currentForm);*/
    var webSite = $('#site-' + id).text();
    var webSiteUrl = $('#url-' + id).text();
    var newPassword = $('#password-' + id).text();
    var dateExpiration = $('#expiration-' +id).text();

    if($('#form-template').html() != undefined)
    {
      console.log('hay algo');
      $('#form-template').remove();
    }

    $.get("/handlebars/information-edit-form.handlebars", function (data)
    {
        cardPass = $(data).html();
        var template = Handlebars.compile(cardPass);
        var data = template
        (
          {
            id:id,
            site:webSite,
            url:webSiteUrl,
            password:newPassword,
            expiration:dateExpiration
          }
        );
        var container = document.getElementById("form-container");
        container.innerHTML += data;
    });

  }

   $('#add').click(function()
    {
      /*  */
      $('#myModal').modal('show');
    }
  );
  $('#btn-add').click(function(){
    var webSite = $('#site').val();
    var webSiteUrl = $('#url').val();
    var newPassword = $('#password').val();
    var dateExpiration = $('#expiration').val();

    var cardPass;
    $.get("/handlebars/card.handlebars", function (data)
    {
        cardPass = $(data).html();
        var template = Handlebars.compile(cardPass);
        var data = template
        (
          {
            id:'password-pill' + newId(),
            site:webSite,
            url:webSiteUrl,
            password:newPassword,
            expiration:dateExpiration
          }
        );
        var container = document.getElementById("password-content");
        console.log(container);
        container.innerHTML += data;
    });
    var token = $("meta[name='_csrf']").attr("content");
    $.ajaxSetup({
        beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRF-TOKEN', token);
        }
    });
    
    $.ajax({
        url : "/storeData",
        type: "POST",
        data : {"webSite":webSite, "webSiteUrl":webSiteUrl, "newPassword":newPassword, "dataExpiration":dateExpiration},
        success: function(data, textStatus, jqXHR)
        {
            //data - response from server
        },
        error: function (jqXHR, textStatus, errorThrown)
        {
     
        }
    });
  });

  </script>
</body>
</html>