<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
  		<link rel="stylesheet" href="css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>
	    <link rel="stylesheet" href="css/dashboard.css" th:href="@{/css/dashboard.css}"/>
	    <link rel="stylesheet" href="css/card.css" th:href="@{/css/card.css}"/>
	    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}"/>
    </head>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta charset="UTF-8"/>
<title>Hello dashboard</title>
<body>
	<div class="container-full">
    <div>
      <div>
        <div class="row">
         <div th:replace="layouts/header :: header"></div>
          <div class="content col-md-3" id="people-list">
	
          </div>
          <div class="col-md-6">
          <div th:if="${personas != null || persona != null}" id="table-container">
				<table id="tabla-persona" class="table">
                        <thead>
                                <tr>
                                        <td>Id</td>
                                        <td>Nombre</td>
                                        <td>Apellidos</td>
                                        <td>Sexo</td>
                                        <td>Cedula</td>
                                </tr>
                        </thead>
                        <tbody>
                                <tr th:each="persona: ${personas}">
                                        <td data-th-text="${persona.id}"></td>
                                        <td data-th-text="${persona.nombre}"></td>
                                        <td data-th-text="${persona.apellidos}"></td>
                                        <td data-th-text="${persona.sexo}"></td>
                                        <td data-th-text="${persona.cedula}"></td>
                                </tr>
                        </tbody>
                </table>
		        
          </div>
           <nav aria-label="Page navigation">
					  <ul class="pagination" th:each="pagina: ${candidadDePaginas}">
						<li ><a th:id="${pagina}" onclick="getPaginationData(this.id);" data-th-text="${pagina}"></a></li>
					  </ul>
				</nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/handlebars-v4.0.5.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <script>
 	function getPaginationData(id)
 	{
 		var paginationButton = document.getElementById(id);
 		var indice = (id - 1) * 10;
 		console.log(id);
 		console.log(indice);
 		var token = $("meta[name='_csrf']").attr("content");
		  $.ajaxSetup({
		        beforeSend: function(xhr) {
		            xhr.setRequestHeader('X-CSRF-TOKEN', token);
		        }
		    });
		    
		    $.ajax({
		        url : "/paginacion",
		        type: "POST",
		        data : {"indice":indice},
		        success: function(result, textStatus, jqXHR)
		        {
		           var personas = [];
		           result.forEach(function(entry) 
		        	{
		        	    personas.push(entry);
		          	});
		          	console.log({"personas":personas});
		          	var personas = {"personas":result};
	          	  	compileAndSetTemplate(personas);
		        },
		        error: function (jqXHR, textStatus, errorThrown)
		        {
		     
		        }
		    });
 	}
 	
 	function compileAndSetTemplate(personas)
 	{
		$.get("/handlebars/tabla-personas.handlebars", function (data)
	    {
	        cardPass = $(data).html();
	        var template = Handlebars.compile(cardPass);
	        var data = template(personas);
	       	var tablaContainer = document.getElementById("table-container");
	       	var tablaPersona = document.getElementById("tabla-persona");
			tablaContainer.removeChild(tablaPersona);
	       	tablaContainer.innerHTML += data;
	    });
 	}
  </script>
</body>
</html>